

---
const {entry} = Astro.props

const { Content } = await entry.render();
---

<div class="article-container grid justify-center p-6">
  <article class="

  max-w-prose prose dark:prose-invert prose-h1:text-2xl prose-h2:text-xl
  prose-h3:text-lg prose-h4:text-base prose-a:underline prose-p:text-justify
  prose-img:rounded-xl prose-headings:my-4 prose-headings:font-bold
  prose-headings:text-xl

  ">
    <Content />
  </article>
</div>

<style>
.article-container {
  width: 100%;
  height: 100%;
}

</style>
